<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SWYO Backend</title>

    <!-- Bootstrap -->
    <link href="{{vendor_url('bootstrap/3.2.0/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ### CSS ### -->
    <link href="{{assets_url('css/main.css')}}?{{$smarty.now}}" rel="stylesheet">
</head>
<body>

    <header id="pgHeader" class="pgHeader">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">

                <!-- navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> 
                        SWYO Backend
                    </a>
                </div>
                 
                <!-- navbar-collapse -->
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{if $ci->uri->segment(1) == 'live'}} active {{/if}}"><a href="{{site_url('live')}}">live</a></li>
                        <li class="{{if $ci->uri->segment(1) == 'server'}} active {{/if}}"><a href="{{site_url('server')}}">server</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Process<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{site_url('process/manual/0')}}">Manual(0)</a></li>
                                <li><a href="{{site_url('process/manual/1')}}">Manual(1)</a></li>
                                <li><a href="{{site_url('process/auto')}}">Auto</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reset<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{site_url('reset/all')}}">all</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </header>

    {{block 'pgContent'}} {{/block}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{vendor_url('bootstrap/3.2.0/js/bootstrap.min.js')}}"></script>

    {{block 'script'}} {{/block}}
</body>
</html>