{{extends file="layout/master.html"}}
{{block 'pgContent'}} 
<a id="btnLogout"  href="{{site_url('logout')}}">
	<img src="{{images_url('icon/logout.png')}}" width="100%">
</a>

<a id="btnHome"  href="{{site_url('home')}}">
	<div class="glyphicon glyphicon-home" style="font-size:32px;"></div>
</a>

<div class="pgContent pgTimeout text-center">



	<section class="sessExpired">

		<div class="subtitle txtRed"> Autoprocess: "Legendary player kicked. Moved queue by 1"  </div>
		<br>
		<div class="title"> You rock  <span class="txtBlue_">{{$ci->session->userdata('playerName')}}Sunny!</span></div> 
		<div>we hope you enjoyed it</div>
		<!-- ### line ### -->
		<br>
		<img src="{{images_url('wait/line.png')}}" alt="">
		<br><br>

		<div> 
			Thanks a lot for taking part in our experiment!
			<!-- <br>We hope you enjoyed it and feel free to tell your friends. -->
			<br> <!-- please <span class="txtBlue">share your experience</span> and --> feel free to tell your friends.  
		</div>
		<!-- <span class="glyphicon glyphicon-chevron-down down-arrow txtBlue"> </span> -->
	</section>

	



	<section class="qaFeedback">
		<div class="container">
			{{if isset($feedback_recieved)}}
				<br><br>
				<h1 class="text-center" style="color:#999;" > THANK YOU FOR YOUR FEEDBACK </h1>
				<br><br>
			{{else}}
			<div class="row">
				<div class="col-xs-12">
					<div class="heading">
						Please share your experience to help us Improve
					</div>
				</div>
				<div class="col-xs-12">
					<form action="" method="post" class="qaBlock">
						<table class="table">	
							{{foreach $feedback_question as $questionID => $row}}
							<tr>
								<td> 
									{{$row.question}} 
									<div class="txtRed"> {{if !isset($smarty.post[$questionID])}} required {{/if}} </div>
								</td>
								<td> 
									<input type="radio" name="{{$questionID}}" value="{{$row.option1}}" {{if $smarty.post[$questionID]|default:'' == $row.option1}} checked {{/if}}
									>  {{$row.option1}} 
								</td>
								<td> 
									<input type="radio" name="{{$questionID}}" value="{{$row.option2}}" {{if $smarty.post[$questionID]|default:'' == $row.option2}} checked {{/if}}
									> {{$row.option2}} 
								</td>
								<td> 
									<input type="radio" name="{{$questionID}}" value="{{$row.option3}}" {{if $smarty.post[$questionID]|default:'' == $row.option3}} checked {{/if}}
									> {{$row.option3}} 
								</td>
							</tr>
							{{/foreach}}
							<tr>
								<td colspan="4">  
									Your Sugesstion <br><br>
									<textarea name="comment" style="width:100%;" rows="5"></textarea>
									<br><br>
									<div class="text-right"> <button type="submit"> Submit </button>  </div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			{{/if}}
		</div>
	</section>

	<!-- ### feedbackBlock ### -->
	<section class="feedbackBlock">
		<div class="container">
			<p class="desc"> Like the experiment? Help us spread the word!</p>
			<ul class="iconSet">
				<span class='st_facebook_large' displayText='Facebook'></span>	
				<span class='st_googleplus_large' displayText='Google +'></span>
				<span class='st_twitter_large' displayText='Tweet'> </span>
			</ul>
		</div>
	</section>

	<!-- ### rights ### -->
	<div class="rights">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-left">
					Copyright © 2014 Seven RE UG (haftungbeschränkt). All Rights Reserved.
				</div>
				<div class="col-sm-6 text-right">
					<a href="http://www.seven-re.com" class="sre"> Seven RE </a> 
					| <a class="contact" href="http://www.seven-re.com/sre/about"> Contact </a>
				</div>
			</div>
		</div>
	</div>

</div>

{{/block}}