{{extends file="layout/master.html"}}
{{block 'pgContent'}} 
<div class="pgContent">
	<div class="container">


		<div class="row">
			<div class="col-sm-6">
				<h2> SYSTEM PARAMS </h2>
				<table class="table table-hover">
					<thead>
					<tr>
						<th> Param </th>
						<th> Val </th>
						<th> &nbsp; </th>
					</tr>
					</thead>
					<tbody>
					{{foreach $systemParam as $key=>$val}}
					<tr>
						<td>{{$key}}</td>
						<td> <b>{{$val}}</b> </td>
						<td> &nbsp; </td>
					</tr>
					{{/foreach}}
					</tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<h2> SLOTS INFO </h2>
				<table class="table table-hover">
					<thead>
					<tr>
						<th> Server </th>
						<th> Slot </th>
						<th> isActive </th>
						<th> &nbsp; </th>
					</tr>
					</thead>
					<tbody>
					{{foreach $slotsData as $row}}
					<tr class="{{if $row.isActive == 1}} success {{else}} danger {{/if}}">
						<td> ({{$row.serverID}}) {{$row.serverName}} </td>
						<td> {{$row.slotNo}}  </td>
						<td> {{$row.isActive}}  </td>
						<td class="text-right"> 
							<span class="updating" style="display:none;"> UPDATING ... </span>
							<button id="deactivate_{{$row.serverID}}_{{$row.slotNo}}" 
								name="btn_deactivate"
								class="btn btn-danger btn_deactivate btn_toggleServerSlotStatus {{if $row.isActive == '1'}} dispInline {{else}} dispHide {{/if}}"> 
								Deactivate 
							</button> 
							<button id="activate_{{$row.serverID}}_{{$row.slotNo}}" 
								name="btn_activate"
								class="btn btn-success btn_activate btn_toggleServerSlotStatus {{if $row.isActive != '1'}} dispInline {{else}} dispHide {{/if}}"> 
								Activate 
							</button> 
						</td>
					</tr>
					{{/foreach}}
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<h2 class="col-sm-12"> SERVER INFO </h2>
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th> Server </th>
						<th> serverIP </th>
						<th> videoServerIP </th>
						<th> applicationID </th>
						<th> videoID </th>
						<th> videoPort </th>
						<th> htmlFile </th>
						<th> &nbsp; </th>
					</tr>
					</thead>
					<tbody>
					{{foreach $serverData as $row}}
					<tr>
						<td> ({{$row.serverID}}) {{$row.serverName}}  </td>
						<td> {{$row.serverIP}} </td>
						<td> {{$row.videoServerIP}} </td>
						<td> {{$row.applicationID}} </td>
						<td> {{$row.videoID}} </td>
						<td> {{$row.videoServerPort}} </td>
						<td> {{$row.htmlFile}} </td>
						<td> &nbsp; </td>
					</tr>
					{{/foreach}}
					</tbody>
				</table>
			</div>
		</div>
		
		{{* <!--  
		<div class="row">
			<h2 class="col-sm-12"> SERVER INFO </h2>
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> serverIP </th>
						<th> videoServerIP </th>
						<th> applicationID </th>
						<th> videoID </th>
						<th> videoPort </th>
						<th> htmlFile </th>
						<th> &nbsp; </th>
					</tr>
					</thead>
					<tbody>
					{{foreach $serverData as $row}}
					<tr>
						<form method="post" >
						<input type="hidden" name="editServerData" value="true">
						<input type="hidden" name="serverID" value="{{$row.serverID}}">
						<td> ({{$row.serverID}}) </td>
						<td> <input type="text" name="serverName" value="{{$row.serverName}}" style="width:90%;">  </td>
						<td> <input type="text" name="serverIP" value="{{$row.serverIP}}" style="width:90%;">  </td>
						<td> <input type="text" name="videoServerIP" value="{{$row.videoServerIP}}" style="width:90%;"> </td>
						<td> <input type="text" name="applicationID" value="{{$row.applicationID}}" style="width:90%;"> </td>
						<td> <input type="text" name="videoID" value="{{$row.videoID}}" style="width:90%;">  </td>
						<td> <input type="text" name="videoServerPort" value="{{$row.videoServerPort}}" style="width:90%;">  </td>
						<td> <input type="text" name="htmlFile" value="{{$row.htmlFile}}" style="width:90%;">  </td>
						<td> <button type="submit"> save </button> </td>
						</form>
					</tr>
					{{/foreach}}
					</tbody>
				</table>
			</div>
		</div>
		--> *}}

	<br><br><br>
	</div>
</div>
{{/block}}




{{block 'script'}}
<script> $(document).ready(function() {

	$('.btn_toggleServerSlotStatus').click(function(){
		var thisBtn = $(this);
		var str = $(this).attr('id');
		var name = $(this).attr('name');
		var url  = '{{site_url("server/toggleServerSlotStatus")}}/'+str;

		thisBtn.hide().siblings('.updating').show();

		$.ajax({
			type: "GET",
			url: url,
		  	dataType: 'json',
			success: function(response) { 
				thisBtn.siblings('.updating').text('DONE');
			}
		});
	});

}); </script>
{{/block}}